---
import EcuationLayout from "../../layouts/EcuationLayout.astro";
import Ecuation from "@components/Ecuation.astro";
import InputNumber from "@components/InputNumber.astro";
import UList from "@components/UList.astro";
import VariableItem from "@components/VariableItem.astro";
---

<EcuationLayout
  title="Dos poblaciones con interacciones competitivas"
  diagram="img/interact.gif"
  originalLink="https://www.unicamp.br/fea/ortega/java/interact.htm"
>
  <p slot="description">
    Dos poblaciones pueden competir por medio de interacciones negativas. Las
    poblaciones competidoras no tienen limitaciones alimentarias y cada
    población tiene una limitación de autopoblación. Con suficientes efectos
    negativos, una población puede expulsar a la otra.
  </p>

  <UList slot="examples">
    <li>
      Dos especies de escarabajos de grano en un frasco, al que se le suministra
      un poco de grano cada día.
    </li>
    <li>
      Dos especies de malas hierbas, donde cada una segrega sustancias químicas
      que inhiben el crecimiento de las raíces de la otra.
    </li>
  </UList>

  <UList slot="variables">
    <VariableItem v="E" desc="Fuente de energía" />
    <VariableItem v="Q1, Q2" desc="Dos poblaciones" />
    <VariableItem v="K1, K2" desc="Tasas de crecimiento" />
    <VariableItem v="K3, K4" desc="Tasas de mortalidad" />
    <VariableItem v="K5, K6" desc="Coeficientes de interacción" />
  </UList>

  <p slot"ecuations">DQ1 = K1*E*Q1 - K3*Q1*Q1 - K5*Q1*Q2</p>
  <p slot"ecuations">DQ2 = K2*E*Q2 - K4*Q1*Q1 - K6*Q1*Q2</p>

  <Ecuation ecuation="interact" slot="graph">
    <InputNumber name="E" label="Energía" value="100" />
    <InputNumber name="K5" label="Interacción población 1" value="5" />
    <InputNumber name="K6" label="Interacción población 2" value="5" />
    <InputNumber
      name="T"
      label="Tiempo máximo"
      hideName={true}
      value="320"
      min="1"
    />
  </Ecuation>

  <UList slot="experiments">
    <li>
      Establezca los dos coeficientes de interacción en cero. ¿Hay interacción
      competitiva?.
    </li>
    <li>
      Con las interacciones aún establecidas en cero, disminuya el suministro de
      alimentos disponible. ¿Cómo cambia el crecimiento y el nivel de estado
      estacionario?.
    </li>
    <li>
      Ahora varíe los coeficientes de interacción y describa las interacciones
      competitivas.
    </li>
  </UList>
</EcuationLayout>
