---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Simulaciones de ecosistemas">
  <main>
    <div class="block">
      <a href="/ecuations/draining-tank">Tanque de drenaje</a>
    </div>
    <div>
      <a href="/ecuations/logistic-growth">Crecimiento logístico</a>
    </div>
    <div>
      <a href="/ecuations/compete">
        Competencia de dos poblaciones en crecimiento exponencial
      </a>
    </div>
    <div>
      <a href="/ecuations/coop"> Existencia Cooperativa</a>
    </div>
  </main>
</Layout>
