---
import Layout from "../layouts/Layout.astro";
import Section from "@components/Section.astro";
import Card from "@components/Card.astro";
---

<Layout title="Simulaciones de ecosistemas">
  <main class="min-w-xs max-w-[90%] mx-auto mb-4 lg:max-w-[1000px]">
    <h1 class="text-4xl text-center font-bold my-4">
      Simulaciones de ecosistemas
    </h1>
    <Section title="Modelos ecológicos">
      <div class="grid gap-2">
        <Card
          title="Tanque de drenaje"
          href="/ecological-models/draining-tank"
        />
        <Card
          title="Crecimiento logístico"
          href="/ecological-models/logistic-growth"
        />
        <Card
          title="Competencia de dos poblaciones en crecimiento exponencial"
          href="/ecological-models/compete"
        />
        <Card title="Existencia Cooperativa" href="/ecological-models/coop" />
        <Card
          title="Competencia por fuentes limitadas"
          href="/ecological-models/exclus"
        />
        <Card
          title="Dos poblaciones con interacciones competitivas"
          href="/ecological-models/interact"
        />
      </div>
    </Section>
  </main>
</Layout>
