---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Simulaciones de ecosistemas">
  <main>
    <div class="block">
      <a href="/ecological-models/draining-tank">Tanque de drenaje</a>
    </div>
    <div>
      <a href="/ecological-models/logistic-growth">Crecimiento logístico</a>
    </div>
    <div>
      <a href="/ecological-models/compete">
        Competencia de dos poblaciones en crecimiento exponencial
      </a>
    </div>
    <div>
      <a href="/ecological-models/coop"> Existencia Cooperativa</a>
    </div>
  </main>
</Layout>
