---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div class="border border-blue-400 rounded-xl">
  <a href={href}>
    <li class="ml-8">
      <p class="p-2">
        <span>&rarr;</span>
        {title}
      </p>
    </li>
  </a>
</div>
