---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<div class="border border-blue-400 rounded-xl py-2">
  <a href={href}>
    <p class="pl-2">
      <span>&rarr;</span>
      {title}
    </p>
  </a>
</div>
