---
import Button from "@components/Button.astro";

interface Props {
  ecuation: string;
}

const { ecuation } = Astro.props;
---

<div class="mt-4">
  <div id="plot"></div>
  <form data-ecuation={ecuation} id="graph-form">
    <div class="grid gap-4 lg:grid-cols-3 lg:place-content-center mb-4">
      <slot />
    </div>
    <slot name="ecuation-without-grid" />

    <Button text="Graficar" />
  </form>
</div>

<script>
  import { show } from "../ecuations/index";
  const $form = document.getElementById("graph-form") as HTMLFormElement;

  $form.addEventListener("submit", (e) => {
    e.preventDefault();
    show($form.getAttribute("data-ecuation"));
  });

  show($form.getAttribute("data-ecuation"));
</script>
