---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col justify-between min-h-[100vh]">
    <slot />

    <footer
      class="min-w-[100%] mt-10 bg-blue-900 py-4 grid place-content-center text-white"
    >
      <a href="https://www.unicamp.br/fea/ortega/java/index.htm" target="_blank"
        >🔗 Proyecto original</a
      >
    </footer>
  </body>
</html>
